# BasedOnStyle: base preset for all ~200 options;
# named overrides below take precedence.
BasedOnStyle: LLVM

# dimensional parameters of token stream's textual representation
IndentWidth:  4
TabWidth:     4
UseTab:       Never
ColumnLimit:  80

# block delimiter placement
BreakBeforeBraces:                Allman
AllowShortFunctionsOnASingleLine: None
